{% extends 'layout.html.twig' %}


{#% set active = lang %#}

{% block content %}

    <h2>{{ 'Please confirm snippet deletion'|trans }}</h2>

    <h4>{{ app.translator.trans("%lang% Snippet named '%name%'",{'%lang%':lang|upper,'%name%':name}) }}</h4>
    <form action="" method="post" novalidate class="form-vertical">
        {{ form_widget(form) }}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">{{ 'Yes, delete this snippet'|trans }}</button>
        </div>
    </form>

{% endblock %}
