{% extends 'layout.html.twig' %}
{% set active = 'doc' %}

{% block content %}

    <h2>{{ 'Yaskef User Guide'|trans }}</h2>

    <h3>PHP snippets</h3>

    <p>In PHP mode, just type some PHP code in the code field, then click
    "Test" to see the result.
    </p>
    <pre>&lt:?php
echo 'Hello, World!';</pre>

    <p>Yaskef as already put the open_tag <code>&lt;?php</code> for you,
    event if it will be removed before sending your code to eval; it is only
    mandatory for the <a href="http://codemirror.net/" class="ext">Code Mirror</a> editor
    to show a correct syntax highlight.<br/>
    If you need to put some html, you can leave the PHP mode
    with <code>?&gt;</code>.</p>
    <p class="note"> A final <code>&lt;?php&nbsp;</code> for returning in PHP mode
    is not mandatory.
    </p>
    <pre>&lt;?php
echo 'Hello, World';
?&gt;
&lt;hr /&gt;
&lt;a href="http://electrolinux.github.com/yaskef/"&gt;Yaskef is cool&lt;/a&gt;</pre>

    <p class="note">Mixed content, <code>use </code> or <code>namespace </code>
    is not passed to the minimalistic/simplistic syntax checker.
    </p>

    <h3>Javascript snippets</h3>

    <p>
        The javascript code is simply put inside a
        <code>&lt;script type="text/javascript"&gt;</code> tag.<br/>
        If some html is needed, it can be put in the html field, wich is
        then put just before script tag.
    </p>

    <p>
        You can use the preloaded jquery 1.7 in your code.
    </p>

    <pre>$(function(){
    $("body").css('backgroundColor','#ff9900');
});</pre>

    <h3>SQL snippets</h3>

    <p>Not very well tested, the SQL code is passed to the DBAL implementation
    choosen in prod.php.<br/>
    The default database is sqlite3. Other doctrine databases have not been
    tested yet.
    </p>
    <pre>SELECT id,lang,name,rows FROM snippet ORDER BY lang,name;</pre>

    <h3>Pastebin</h3>

    <p>
        If you have an account at <a href="http://pastebin.com/">pastebin.com</a>,
        and have created your user with the --pastebin option, you should have
        a "Paste to pastebin.com" button.
    </p>

    <p>
        You can choose the exposure and expiration you want for your paste
        by going to the profile page.
    </p>

    <h3>Profile</h3>

    <p>
        A part from the pastebin options, the profile page can be used
        to change your password...

    </p>

    <h3>Credits</h3>

    <p>
        Software developpement is more and more funny every day, courtesy
        of a lot of smart people, organisations and projects.<br/>
        <ul>
            <li><a href="http://sensiolabs.com/">Sensio Labs</a>, including cool people
            <ul>
                <li><a href="https://github.com/fabpot">Fabien Potencier</a></li>
                <li><a href="https://github.com/igorw">Igor Wiedler</a></li>
            </ul>
            and cool tools
            <ul>
                <li><a href="http://silex.sensiolabs.org/">Silex</a></li>
                <li><a href="http://twig.sensiolabs.org/">Twig</a></li>
                <li><a href="http://symfony.com/">Symfony</a></li>
            </ul>
            </li>
            <li><a href="https://github.com/lyrixx">Grégoire Pineau (lyrixx)</a> and his nice
            <a href="https://github.com/lyrixx/Silex-Kitchen-Edition">Silex Kitchen Edition</a>
            </li>

            <li><a href="http://www.doctrine-project.org/">Doctrine</a></li>

            <li><a href="https://github.com/">Github</a> for an impressive amount of
            good work for the opensource sofware -- thanks to
            <a href="https://twitter.com/michigangraham">Matt Graham</a> for the nice web site template
            </li>

            <li><a href="http://twitter.github.com/bootstrap/index.html">bootstrap</a></li>

            <li><a href="https://packagist.org/">Packagist.com</a></li>

            <li><a href="http://getcomposer.org/">Composer</a></li>

            <li><a href="http://git-scm.com/">GIT</a></li>

            <li>And countless others... Thanks you all opensource devs!!</li>
        </ul>
    </p>

    <h3>Contributions Welcome :-)</h3>

    <p>If you find bugs or have cool ideas to implement, let me now.
    <ul>
        <li><a href="https://github.com/electrolinux/yaskef">Github repo</a>, star, fork or fill
        an issue </li>
        <li><a href="http://electrolinux.github.com/yaskef/">Yaskef Web site</a></li>
    </ul>
    </p>

{% endblock %}
