{% extends 'layout.html.twig' %}

{% block main_content %}
<div class="span2"></div>
<div class="span8">
    {% block content %}
    {% endblock content %}
</div>
<div class="span2"></div>
{% endblock main_content%}
