<?php
$db_driver      = 'pdo_sqlite';
$db_path        = realpath(__DIR__.'/../db') . '/prod.db';
$db_host        = 'localhost';
$db_user        = 'root';
$db_name        = 'yaskef';
$db_password    = '';
